<p>This is the case view.</p>
<div>
	<h2>Case {{case.caseId}}</h2>
	<h2>Case Summary</h2>
</div>
<div ng-include src="'partials/detail.html'"></div>

<div>
	<h2>
	Case History
	</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem vitae sapiente iusto pariatur iste fuga molestias modi, placeat, eveniet provident consequuntur nobis consequatur voluptatum, aliquid molestiae debitis et nostrum ut!
	</p>
</div>
<div>
	<button>
		Notify Case Owner
	</button>
	<button>
		Ok
	</button>

