<div layout="column" layout-fill class="container">
  <md-toolbar md-scroll-shrink="">
    <div class="md-toolbar-tools">
      <span>Case View</span>
    </div>
  </md-toolbar>
</div>

<div>
	<h2>Case {{case.caseId}}</h2>
	<h2>Case Summary</h2>
</div>
<div ng-include src="'partials/detail.html'"></div>
<div>
	<h2>
	Case History
	</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem vitae sapiente iusto pariatur iste fuga molestias modi, placeat, eveniet provident consequuntur nobis consequatur voluptatum, aliquid molestiae debitis et nostrum ut!
	</p>
</div>

<md-button ng-href="#/notify/{{case.caseId}}" class="md-raised md-primary">
Notify Case Owner
</md-button>

<md-button ng-href="/#/" class="md-raised md-primary">
Ok
</md-button>
