<p>This is the category view.</p>



   <ul ng-repeat="(key, value) in cases | groupBy: 'category' ">
   <li  ng-repeat="case in value" ng-if="$first">
    <div class="category-heading"><a ng-href="#/category/{{case.categoryId}}">{{ key }} ({{value.length}})</a></div>
    
    <!--start conditional-->
    <div ng-if="case.categoryId == routeCategoryId">
      <ul>
       <li ng-repeat="(key, value) in filteredCases | groupBy: 'category'">
        <ul>
          <li class="pointer case-count" ng-repeat="case in filteredCases">
            <div ng-click="detail(case.caseId, $index)">{{case.firstname}} {{case.lastname}} ID: {{case.caseId}} </div> 
            <div ng-show="selected.value!=$index" ng-click="detail(case.caseId, $index)">Submitted: {{case.submitted}} Status {{case.status}}</div>
             <div><a ng-href="#/case/{{case.caseId}}">Case View</a></div>
            <div ng-show="selected.value==$index">
              <div ng-include src="templateURL"></div>
            </div>
          </li>
        </ul>
      </div> 
      <span ng-if="case.categoryId != routeCategoryId">
        <div ng-repeat="(key, value) in cases | groupBy: 'lastname' " class="case-count">{{ key }} ({{value.length}})</div>
      </span>
      <!--end conditional-->
  </li>
  </ul>
   </li>
  </ul>

    <!-- </span> -->



