<div layout="column" layout-fill class="container">
  <md-toolbar md-scroll-shrink="">
    <div class="md-toolbar-tools">
      <span>Main</span>
      <span flex></span>
      <md-button>
        Right bar button
      </md-button>
    </div>
  </md-toolbar>
  <!--   <ul ng-repeat="case in cases ">
    <li>{{case.category}}</li>
  </ul> -->
  <md-content style="height: 500px;">

    <section ng-repeat="(key, value) in cases | groupBy: 'status' ">
      <md-subheader class="md-primary">{{key}}</md-subheader>
      <md-list layout-padding="" ng-repeat="(key, value) in cases | groupBy: 'category' ">
        <md-list-item ng-repeat="case in value" class="md-whiteframe-1dp item_block" layout="column" layout-align="none start">
          <div class="category-heading"><a ng-href="#/category/{{case.categoryId}}">{{ key }} ({{value.length}})</a></div>
          <div ng-repeat="(key, value) in cases | groupBy: 'lastname'" class="case-count">{{ key }} ({{value.length}})</div>
        </md-list-item>
      </md-list>
    </section>
    
  </md-content>
</div>