<div class="container">
  <h2>Main</h2>
<!--   <ul ng-repeat="case in cases ">
    <li>{{case.category}}</li>
  </ul> -->
   <span ng-repeat="(key, value) in cases | groupBy: 'status' ">
   {{ key }}


   <ul ng-repeat="(key, value) in cases | groupBy: 'category' ">
   <!--<li ng-repeat="case in value"> -->
   <li  ng-repeat="case in value" ng-if="$first">
    <div class="category-heading"><a ng-href="#/category/{{case.categoryId}}">{{ key }} ({{value.length}})</a></div>
    <div ng-repeat="(key, value) in cases | groupBy: 'lastname' " class="case-count">{{ key }} ({{value.length}})</div>

   </li>
  </ul>

    </span>
</div>
